stages:
  - test
  - deploy

development:
    image: python:3.7
    stage: test
    before_script:
        - RUN . venv/bin/activate && pip3 install -r requirements.txt
        - python3 manage.py collectstatic --no-input
        - python3 manage.py migrate
    when: on_success
    script:
        - coverage run --omit='manage.py' manage.py test --parallel --reverse
        - coverage report -m

deployment:
    image: ruby:latest
    stage: deploy
    before_script:
        - gem install dpl
        - wget -qO- https://cli-assets.heroku.com/install-ubuntu.sh | sh
    when: manual
    allow_failure: false
    script:
        - dpl --provider=heroku --app=$HEROKU_NAME --api-key=$HEROKU_API_KEY_STAGING
        - export HEROKU_API_KEY=$HEROKU_API_KEY_STAGING
        - heroku run --app $HEROKU_NAME migrate &
        - python manage.py test functional_test.new_visitor_test
    environment:
        name: heroku
        url: $HEROKU_HOST
