image: python:3.7

deployment:
    stage: deploy
    before_script:
        - pip install -r requirements.txt
        - apt-get update -qy
        - apt-get install -y ruby-dev
        - gem install dpl
        - wget -qO- https://cli-assets.heroku.com/install-ubuntu.sh | sh
    when: on_success
    allow_failure: false
    script:
        - dpl --provider=heroku --app=$HEROKU_NAME --api-key=$HEROKU_API_KEY_STAGING
        - export HEROKU_API_KEY=$HEROKU_API_KEY_STAGING
        - heroku run --app $HEROKU_NAME migrate &
        - python manage.py test functional_test.new_visitor_test
    environment:
        name: heroku
        url: $HEROKU_HOST
