appdirs
Django
django-webpack-loader
djangorestframework
packaging
psycopg2-binary
pyparsing
six
gunicorn
django-nose
coverage
django-rest-swagger
django-silk
requests
requests-mock
django-filter
selenium
whitenoise
django-environ
dj-database-url
