appdirs==1.4.0
Django==1.11.17
django-webpack-loader==0.4.1
djangorestframework==3.5.4
packaging==16.8
psycopg2-binary==2.8.3
pyparsing==2.1.10
six==1.10.0
gunicorn
django-nose
coverage
django-rest-swagger
django-silk
requests
requests-mock
django-filter
selenium
whitenoise==4.1
django-environ==0.4.5
dj-database-url
